<a href="https://colab.research.google.com/github/jatingupta74/python/blob/main/asgmt_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

data = {
    'FamilyName': ['Shah', 'Vats', 'Vats', 'Kumar', 'Vats', 'Kumar', 'Shah', 'Shah', 'Kumar', 'Vats'],
    'Gender': ['Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
    'MonthlyIncome': [44000.00, 65000.00, 43150.00, 66500.00, 255000.00, 103000.00, 55000.00, 112400.00, 81030.00, 71900.00]
}

df = pd.DataFrame(data)

familywise_gross_income = df.groupby('FamilyName')['MonthlyIncome'].sum()
print("a. Familywise Gross Monthly Income:")
print(familywise_gross_income)
print()

highest_income = df.groupby('FamilyName')['MonthlyIncome'].max()
lowest_income = df.groupby('FamilyName')['MonthlyIncome'].min()
print("b. Highest Monthly Income:")
print(highest_income)
print("\nLowest Monthly Income:")
print(lowest_income)
print()

income_below_80000 = df[df['MonthlyIncome'] < 80000.00]
print("c. Monthly Income of Members Earning Less than Rs. 80000.00:")
print(income_below_80000[['FamilyName', 'MonthlyIncome']])
print()

female_data = df[df['Gender'] == 'Female']
total_females = female_data.shape[0]
average_income_female = female_data['MonthlyIncome'].mean()
print("d. Total Number of Females: ", total_females)
print("Average Monthly Income of Females: ", average_income_female)
print()

average_income_all = df['MonthlyIncome'].mean()
df = df[df['MonthlyIncome'] >= average_income_all]
print("e. DataFrame after deleting rows with Monthly income less than the average income:")
print(df)

a. Familywise Gross Monthly Income:
FamilyName
Kumar    250530.0
Shah     211400.0
Vats     435050.0
Name: MonthlyIncome, dtype: float64

b. Highest Monthly Income:
FamilyName
Kumar    103000.0
Shah     112400.0
Vats     255000.0
Name: MonthlyIncome, dtype: float64

Lowest Monthly Income:
FamilyName
Kumar    66500.0
Shah     44000.0
Vats     43150.0
Name: MonthlyIncome, dtype: float64

c. Monthly Income of Members Earning Less than Rs. 80000.00:
  FamilyName  MonthlyIncome
0       Shah        44000.0
1       Vats        65000.0
2       Vats        43150.0
3      Kumar        66500.0
6       Shah        55000.0
9       Vats        71900.0

d. Total Number of Females:  5
Average Monthly Income of Females:  111616.0

e. DataFrame after deleting rows with Monthly income less than the average income:
  FamilyName  Gender  MonthlyIncome
4       Vats  Female       255000.0
5      Kumar    Male       103000.0
7       Shah  Female       112400.0